<div id="editCommentPlaceholder"></div>
<h2>Comments</h2>
<section id="comments-only">
  <%- include("../forms/newCommentForm") %> <% for(const comment of comments)
  {%>
  <article class="comment">
    <p>
      <span class="author"> <%= comment.username %> </span>
      <span class="date"> <%= comment.date %> </span>
    </p>
    <span class="comment-content"><%= comment.comment %></span>
    <% if(user === comment.username){ %>
    <button onclick="editComment(event, <%= comment.id %>)">
      EDIT COMMENT
    </button>
    <% } %> <% if(user === comment.username || user_type === 'admin'){ %>
    <button onclick="deleteComment(<%= comment.id %>)">DELETE COMMENT</button>
    <% } %>
  </article>
  <% } %>
</section>
