<div id="editCommentPlaceholder"></div>
<h2>Comments</h2>
<% if(typeof comments !== undefined && comments.length === 0) {%>
<p>There are no comments on this post. Be the first one to comment</p>
<% }%>
<section id="comments-only">
  <%- include("../forms/newCommentForm") %> <% for(const comment of comments)
  {%>
  <article class="comment">
    <p class="date"><%= comment.date %></p>
    <p class="author"><%= comment.username %></p>
    <p class="comment-content"><%= comment.comment %></p>
    <div>
      <% if(user === comment.username){ %>

      <button onclick="editComment(event, <%= comment.id %>)">
        EDIT COMMENT
      </button>
      <% } %> <% if(user === comment.username || user_type === 'admin'){ %>
      <button onclick="deleteComment(<%= comment.id %>)">DELETE COMMENT</button>

      <% } %>
    </div>
  </article>
  <% } %>
</section>
