<!-- <article> -->
<div class="author_date">
  <span class="author"> <%= post.author %> </span>
  <span class="date"> <%= post.date %> </span>
</div>
<a href="/news/<%= post.id %>"><h1 id="post-title"><%= post.title%></h1></a>
<span class="post-content"><%= post.content%></span>
<!-- </article> -->
