<!-- <article> -->
<div class="author_date">
  <p class="date">
    <%= post.date.toLocaleString('en-GB',{timeZone: 'Europe/Belgrade'}) %>
  </p>
  <p class="author"><%= post.author %></p>
</div>
<a href="/news/<%= post.id %>"
  ><h1 id="post-title" class="title"><%= post.title%></h1></a
>
<p class="post-content"><%= post.content%></p>
<!-- </article> -->
