<!-- <article> -->
<div class="author_date">
  <span class="author"> <%= post.author %> </span>
  <span class="date"> <%= post.date %> </span>
</div>
<a href="/news/<%= post.id %>"><h1><%= post.title%></h1></a>
<p><%= post.content%></p>
<!-- </article> -->
