<% if(typeof user_type != 'undefined' && user_type === 'admin'){ %> <%-
include("./scripts/adminOnly")%> <% } %>
<script>
  let timer;
  const clearTimer = () => window.clearInterval(timer);
  function removeErrorDescription() {
    if (document.querySelector("#error").textContent) {
      document.querySelector("#error").textContent = "";
    }
  }
  function displayError(msg) {
    document.querySelector("#error").textContent = msg;
    timer = window.setTimeout(removeErrorDescription, 3000);
  }
  let page = 1;
  const commentsSection = document.querySelector("#comments-only");

  const loggedInUser =
    document.querySelector("#loggedInUser") &&
    document.querySelector("#loggedInUser").textContent;
  const loggedInUserType =
    document.querySelector("#loggedInUserType") &&
    document.querySelector("#loggedInUserType").textContent;

  async function loadMoreComments() {
    try {
      clearTimer();
      const response = await fetch(`/comments/<%= post.id%>/${page}`);
      const data = await response.json();
      const button = document.querySelector("#load-more-comments");
      if (!(data.length > 0)) {
        document.querySelector("#load-more-comments").remove();
        throw new Error("No more comments");
      }
      data.forEach((comment) => {
        const html = `
          <article class="comment">
            <p class="date"> ${new Date(comment.date).toLocaleString("en-GB", {
              timeZone: "Europe/Belgrade",
            })} GMT+0200</p>
            <p class="author"> ${comment.username} </p>
           <p class="comment-content">${comment.comment}</p>
      <div>
        ${
          loggedInUser === comment.username
            ? `
          <button onclick="editComment(event, ${comment.id})">EDIT COMMENT</button>
          `
            : ""
        }
      ${
        loggedInUser === comment.username || loggedInUserType === "admin"
          ? `
          <button onclick="deleteComment(${comment.id})">DELETE COMMENT</button>
          `
          : ""
      }
      </div>
    </article>
    `;
        commentsSection.insertAdjacentHTML("beforeend", html);
      });
      if (data.length < 5) {
        document.querySelector("#load-more-comments").remove();
        return;
      }
      page++;
    } catch (err) {
      displayError(err.message);
    }
  }
</script>
<%- include("./scripts/newComment")%> <%- include("./scripts/deleteComment")%>
<%- include("./scripts/updateComment")%>
