<%- include("partials/aboveBody") %>
<div id="outside-container">
  <%- include("partials/newsHeader") %> <%- include("partials/navbar") %>
  <section>
    <% if(typeof content != 'undefined'){ %> <% for(const news of content) {%>
    <article>
      <div class="author_date">
        <span class="date"> <%= news.date %> </span>
      </div>
      <a href="news/<%= news.id%>"><h1><%= news.title%></h1></a>
    </article>
    <% } %> <% } else{ %>
    <p id="noNews">...There are currently no news...</p>
    <% } %>
  </section>
</div>
<%- include("partials/bellowBody") %>
