<%- include("partials/aboveBody") %>
<div id="outside-container">
  <%- include("partials/newsHeader") %> <%- include("partials/navbar") %>
  <section id="section-posts">
    <% if(typeof content != 'undefined'){ %> <% for(const news of content) {%>
    <article class="post">
      <div class="author_date">
        <p class="date"><%= news.date %></p>
      </div>
      <a href="news/<%= news.id%>"
        ><h1 class="post-title title"><%= news.title%></h1></a
      >
    </article>
    <% } %> <% } else{ %>
    <p id="noNews">...There are currently no news...</p>
    <% } %>
  </section>
  <p id="error"></p>
  <% if(typeof content != 'undefined' && content.length === 8){ %>
  <button id="load-more-news" onclick="loadMoreNews()">...more news...</button>
  <% } %>
  <script>
    let timer;
    const clearTimer = () => window.clearInterval(timer);
    function removeErrorDescription() {
      if (document.querySelector("#error").textContent) {
        document.querySelector("#error").textContent = "";
      }
    }
    function displayError(msg) {
      document.querySelector("#error").textContent = msg;
      timer = window.setTimeout(removeErrorDescription, 3000);
    }
    let page = 1;
    async function loadMoreNews() {
      clearTimer();
      try {
        const response = await fetch(`/posts/getMoreNews/${page}`);

        const data = await response.json();
        if (typeof data === "string") {
          document.querySelector("#load-more-news").remove();
          throw new Error("No more news...");
        }
        const section = document.querySelector("#section-posts");
        data.forEach((post) => {
          const html = `
          <article class="post">
          <div class="author_date">
            <p class="date"> ${post.date} </p>
          </div>
          <a href="news/${post.id}"><h1 class="post-title title">${post.title}</h1></a>
        </article>
      `;
          section.insertAdjacentHTML("beforeend", html);
        });
        if (data.length < 8) {
          document.querySelector("#load-more-news").remove();
          return;
        }
        page++;
      } catch (err) {
        displayError(err.message);
      }
    }
  </script>
</div>
<%- include("partials/bellowBody") %>
