<%- include("partials/aboveBody") %>
<div id="outside-container">
  <%- include("partials/newsHeader") %> <%- include("partials/navbar") %> <%-
  include("partials/forms/loginForm") %>
</div>
<%- include("partials/bellowBody") %>
