<%- include("partials/aboveBody") %>

<div id="outside-container">
  <%- include("partials/newsHeader") %> <%- include("partials/navbar") %> <%-
  include("partials/forms/newArticleForm") %>
</div>

<%- include("partials/bellowBody") %>
