<%- include("partials/aboveBody") %>

<div id="outside-container">
  <%- include("partials/newsHeader") %> <%- include("partials/navbar") %>
  <section id="editSpace"></section>
  <section id="section-post">
    <%- include("partials/news/access")%> <%- include("partials/news/post")%>
  </section>
  <section id="section-comments">
    <p id="error"></p>
    <%- include("partials/news/comments")%>
    <button id="load-more-comments" onclick="loadMoreComments()">
      ...more comments...
    </button>
  </section>
</div>
<%- include("partials/news/scripts") %> <%- include("partials/aboveBody") %>
